<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/chota">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script>
        if (window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add('dark');
        }
    </script>
</head>
<body class="dark">
<nav class="nav">
    <div class="nav-left">
        <a href="/">Hi</a>
        <a href="/blog/">Blog</a>
    </div>
    <div class="nav-right">
        <a href="https://github.com/ubermanu" target="_blank">
            <i class="lni lni-github-original"></i>&nbsp;GitHub
        </a>
        <a href="#" onclick="document.body.classList.toggle('dark')" title="Toggle dark mode">
            <i class="lni lni-sun"></i>
        </a>
    </div>
</nav>
{% block before_content %}{% endblock %}
{% block content %}
    <main class="container">
        {{ content | safe }}
    </main>
{% endblock %}
{% block after_content %}{% endblock %}
</body>
</html>
