{% extends "base.njk" %}
{% block before_content %}
    <script type="module">
        import { BasicMaterial, BoxShape, Camera, Canvas, Mesh, Scene } from 'https://cdn.skypack.dev/canevas';

        const element = document.getElementById('2d-square');

        let canvas, scene, camera;
        let shape, material, mesh;
        let speed = 0, friction = 0.93;

        init();
        animate();

        function init() {
            canvas = new Canvas();
            canvas.element = element;
            canvas.setSize(element.offsetWidth, element.offsetHeight);
            scene = new Scene();
            camera = new Camera();
            camera.position.set(element.offsetWidth / 2, element.offsetHeight / 2);
            material = new BasicMaterial({ wireframe: true, color: 0xffa500 });
            shape = new BoxShape({ width: 80, height: 80 });
            mesh = new Mesh(shape, material);
            scene.add(mesh);
        }

        function animate() {
            requestAnimationFrame(animate);
            speed *= friction;
            mesh.rotation += speed;
            canvas.render(scene, camera);
        }

        element.addEventListener('click', () => {
            speed = 0.5;
        });
    </script>
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 720px; margin-top: 15%">
        <div class="row">
            <div class="col-4">
                <canvas id="2d-square" style="width: 100%; height: 100%; cursor: pointer; user-select: none"></canvas>
            </div>
            <div class="col-8">
                {{ content | safe }}
            </div>
        </div>
    </main>
{% endblock %}
